In [31]:
!pip install pymongo
!pip install requests

Requirement already satisfied: pymongo in c:\users\bhuva\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (4.8.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\bhuva\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pymongo) (2.6.1)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: C:\Users\bhuva\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Requirement already satisfied: requests in c:\users\bhuva\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\bhuva\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\bhuva\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\bhuva\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\bhuva\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests) (2024.7.4)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: C:\Users\bhuva\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [120]:
import requests
import pandas as pd
from pymongo import MongoClient
from pymongo.server_api import ServerApi
from apscheduler.schedulers.background import BackgroundScheduler
from datetime import datetime
from pymongo.errors import BulkWriteError
from bson.objectid import ObjectId  # Import ObjectId for generating unique IDs
import json
from IPython.display import display  # Import display for Jupyter Notebook

# MongoDB connection URI
mongodb_uri = "mongodb+srv://bhuvanchalasani:Bdat2024@datafianl.c1yzp.mongodb.net/?retryWrites=true&w=majority&appName=Datafianl"

# Polygon API URL
api_url = 'https://api.polygon.io/v2/aggs/ticker/AAPL/range/1/day/2023-08-15/2024-08-15?adjusted=true&sort=asc&apiKey=kqrPrhEu2iTWPVRKBjS5gWB_jw4yga6s'

def fetch_and_store_data():
    try:
        # Fetch data from Polygon API
        response = requests.get(api_url, timeout=10)  # Set timeout for the request
        response.raise_for_status()  # Raise an error if the request was unsuccessful
        
        if response.status_code == 200:
            data = response.json()
            print("API request successful. Data received.")
        else:
            print(f"API request failed with status code: {response.status_code}")
            return None
        
        # MongoDB connection
        client = MongoClient(mongodb_uri, server_api=ServerApi('1'))
        db = client.get_database('Datafianl')
        records = db['AAPLStock']

        # Clear existing records
        records.delete_many({})

        # Prepare batch insertion
        documents = []
        for item in data['results']:
            document = {
                '_id': ObjectId(),  # Generate a unique ID for each document
                'timestamp': datetime.fromtimestamp(item['t'] / 1000),  # Convert from milliseconds
                'volume': item['v'],
                'vw': item['vw'],
                'open': item['o'],
                'close': item['c'],
                'high': item['h'],
                'low': item['l'],
                'count': item['n']
            }
            documents.append(document)

        # Insert all documents in one batch
        try:
            records.insert_many(documents, ordered=False)
            print("Data successfully fetched and stored in MongoDB.")
        except BulkWriteError as bwe:
            print(f"Bulk write error: {bwe.details}")
        
        return documents  # Return the documents list instead of raw data
        
    except requests.exceptions.RequestException as e:
        print(f"Network error occurred: {e}")
        return None
    
    except KeyboardInterrupt:
        print("Script interrupted by user.")
        return None

    except Exception as e:
        print(f"An error occurred: {e}")
        return None

# Setup scheduler
scheduler = BackgroundScheduler()
scheduler.add_job(fetch_and_store_data, 'interval', hours=24)
scheduler.start()

if __name__ == "__main__":
    try:
        documents = fetch_and_store_data()  # Fetch data immediately on start
        if documents:
            df = pd.DataFrame(documents)  # Convert the list of documents to a DataFrame
            display(df)  # Display the DataFrame as a table
        else:
            print("Failed to fetch data from the API.")
    except KeyboardInterrupt:
        print("Script interrupted by user.")

API request successful. Data received.
Data successfully fetched and stored in MongoDB.

,_id,timestamp,volume,vw,open,close,high,low,count
0,66bf00fb8f04e23d2f9d353c,2023-08-15,43574863.0,177.9886,178.88,177.45,179.4800,177.050,510071
1,66bf00fb8f04e23d2f9d353d,2023-08-16,45712957.0,177.4133,177.13,176.57,178.5400,176.500,526074
2,66bf00fb8f04e23d2f9d353e,2023-08-17,66054482.0,174.5857,177.14,174.00,177.5054,173.480,673083
3,66bf00fb8f04e23d2f9d353f,2023-08-18,60171878.0,173.8904,172.30,174.49,175.1000,171.960,596474
4,66bf00fb8f04e23d2f9d3540,2023-08-21,46161959.0,175.2221,175.07,175.84,176.1300,173.735,559658
...,...,...,...,...,...,...,...,...,...
248,66bf00fb8f04e23d2f9d3634,2024-08-09,40764531.0,215.1632,212.10,216.24,216.7800,211.970,589409
249,66bf00fb8f04e23d2f9d3635,2024-08-12,36533169.0,217.5472,216.07,217.53,219.5099,215.600,602475
250,66bf00fb8f04e23d2f9d3636,2024-08-13,42281135.0,220.8583,219.01,221.27,221.8900,219.010,553206
251,66bf00fb8f04e23d2f9d3637,2024-08-14,40535664.0,221.5032,220.57,221.72,223.0300,219.700,568467
252,66bf00fb8f04e23d2f9d3638,2024-08-15,44961298.0,224.5450,224.60,224.72,225.3500,222.760,590509

In [124]:

display(data)

,ticker,queryCount,resultsCount,adjusted,results,status,request_id,count
0,AAPL,253,253,True,"{'v': 43574863.0, 'vw': 177.9886, 'o': 178.88,...",OK,b0ba10e4530ccb8a251fff6f1fc507f3,253
1,AAPL,253,253,True,"{'v': 45712957.0, 'vw': 177.4133, 'o': 177.13,...",OK,b0ba10e4530ccb8a251fff6f1fc507f3,253
2,AAPL,253,253,True,"{'v': 66054482.0, 'vw': 174.5857, 'o': 177.14,...",OK,b0ba10e4530ccb8a251fff6f1fc507f3,253
3,AAPL,253,253,True,"{'v': 60171878.0, 'vw': 173.8904, 'o': 172.3, ...",OK,b0ba10e4530ccb8a251fff6f1fc507f3,253
4,AAPL,253,253,True,"{'v': 46161959.0, 'vw': 175.2221, 'o': 175.07,...",OK,b0ba10e4530ccb8a251fff6f1fc507f3,253
...,...,...,...,...,...,...,...,...
248,AAPL,253,253,True,"{'v': 40764531.0, 'vw': 215.1632, 'o': 212.1, ...",OK,b0ba10e4530ccb8a251fff6f1fc507f3,253
249,AAPL,253,253,True,"{'v': 36533169.0, 'vw': 217.5472, 'o': 216.07,...",OK,b0ba10e4530ccb8a251fff6f1fc507f3,253
250,AAPL,253,253,True,"{'v': 42281135.0, 'vw': 220.8583, 'o': 219.01,...",OK,b0ba10e4530ccb8a251fff6f1fc507f3,253
251,AAPL,253,253,True,"{'v': 40535664.0, 'vw': 221.5032, 'o': 220.57,...",OK,b0ba10e4530ccb8a251fff6f1fc507f3,253
252,AAPL,253,253,True,"{'v': 44961298.0, 'vw': 224.545, 'o': 224.6, '...",OK,b0ba10e4530ccb8a251fff6f1fc507f3,253

In [123]:
import pandas as pd
data = pd.DataFrame(data)
data.to_csv('rates.csv', index=False)